@import "../../../styles/variables";
.search {
  background-color: $off-white;
  border-radius: 25px;
  padding: 5px 10px;
  display: flex;

  &__elm {
    background-color: transparent;
    border: 0;
    outline: 0;
  }
}
.info {
  width: rem(28px);
  height: rem(28px);
  cursor: pointer;
  position: relative;

  i {
    color: $dark-grey;
    font-size: rem(18px);
  }
}
